@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body,html{
    font-size:14px;
    font-family:'Roboto',sans-serif;
    background: #fff;
    color:#333;
}
input,select,label,textarea{
    font-family: 'Roboto', sans-serif;
    font-size:1em;
}
input[type=submit]{
    cursor: pointer;
}
a{
    text-decoration: none;
    color:#333;
}
a:hover{
    color:#EB416B;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.color_main{
    color:#EB416B;
}
.header{
    width:100%;
    max-width:1200px;
    margin:10px auto 0;
    position:relative;
    z-index: 4;
}
.header .top{
    display:flex;
    width:100%;
    max-width:1000px;
    margin:0 auto;
    justify-content: flex-start;
    padding:10px 0 15px;
    align-items: center;
}
.header .logo a{
    display:block;
    width:74px;
    height:52px;
    background:url('../img/logo.png') center center no-repeat;
    background-size:contain;
}
.callphone{
    display:flex;
    align-items: center;
    margin-right:auto;
    margin-left:50px;
}
.callphone span{
    display:block;
    font-size:0.85em;
    text-transform: uppercase;
    margin-bottom:3px;
}
.callphone .a{
    font-weight:500;
}
.callphone .callphone-x-icon{
    display:block;
    width:59px;
    margin-right:5px;
    height:47px;
    background:url('../img/call-center.png') center center no-repeat;
}
.header .social-icons{
    display:flex;
    width:180px;
    justify-content: space-between;
    list-style: none;
}
.social-icons .sa{
    display: block;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:#fff;
    background-position:center center;
    background-repeat:no-repeat;
}
.social-icons .sa-whatsapp{
    background-image:url('../img/whatsapp-logo.png');
}
.social-icons .sa-facebook{
    background-image:url('../img/facebook-letter-logo.png');
}
.social-icons .sa-instagram{
    background-image:url('../img/instagram-logo.png');
}
.social-icons .sa-linkedin{
    background-image:url('../img/linkedin-logo.png');
}
.header .menu-list{
    display:flex;
    justify-content: space-between;
    list-style: none;
    background: #FFFFFF;
    border-bottom:2px solid #EB416B;
}
.menu-list_item{
    width:14.28%;
    text-align:center;
    position:relative;
    overflow: hidden;
    border-right:1px solid #E0E0E0;
}
.menu-list_item a{
    display:block;
    padding:10px 5px;
}
.menu-list_item span{
    font-weight:500;
    line-height:1.5em;
    z-index: 1;
    position:relative;
    text-transform: uppercase;
    display:block;
    -webkit-transition: 0.3s all ease-in-out 0s;
    -o-transition: 0.3s all ease-in-out 0s;
    transition: 0.3s all ease-in-out 0s;
}
.menu-list_item b{
    font-size:0.85em;
    font-weight:400;
    line-height: 1em;
    color:#333;
    position:relative;
    z-index: 1;
    -webkit-transition: 0.3s all ease-in-out 0s;
    -o-transition: 0.3s all ease-in-out 0s;
    transition: 0.3s all ease-in-out 0s;
}
.menu-list_item:last-child{
    border-right:none;
}
.menu-list_item a:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: -100%;
    left: 0;
    background: #EB416B;
    -webkit-transition: 0.3s all ease-in-out 0s;
    -o-transition: 0.3s all ease-in-out 0s;
    transition: 0.3s all ease-in-out 0s;
}
.menu-list_item a:hover:before
{
    bottom: 0;
    -webkit-transition: 0.3s all ease-in-out 0s;
    -o-transition: 0.3s all ease-in-out 0s;
    transition: 0.3s all ease-in-out 0s;
}
.menu-list_item a:hover span, .menu-list_item a:hover b
{
    color: #fff;
    -webkit-transition: 0.5s all ease-in-out 0s;
    -o-transition: 0.5s all ease-in-out 0s;
    transition: 0.5s all ease-in-out 0s;
}
.menu-list_item .sub-menu{
    display:none;
}
.btn{
    display:inline-block;
    text-transform: uppercase;
    padding:15px 35px;
    font-weight:700;
    text-align:center;
    border:none;
}
.welcome .btn{
    width:350px;
}
.btn.main-btn{
    background-color:#EB416B;
    color:#fff;
}
.btn.main-btn:hover{
    background-color: #eb2664;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.btn.btn-next{
    padding-right:35px;
    background-image:url('../img/arrow-right.png');
    background-position: 94% center;
    background-repeat:no-repeat;
}
.container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
}
.container-lg{
    width:100%;
    max-width:1580px;
    margin-left:auto;
    margin-right:auto;
}
.center{
    text-align:center;
}
.first-screen .container{
    position:relative;
    z-index: 100;
}
.welcome{
    margin-top:80px;
    width:55%;
}
.welcome .welc-p{
    font-size:2.5em;
    margin:0 0 50px;
    text-transform: uppercase;
}
.welcome .title{
    font-size:2.5em;
    font-weight:400;
    text-transform: uppercase;
}
.welcome .title span{
    display:block;
    font-size:4.2em;
    font-weight:900;
}
.welcome .dop{
    font-size:1.28em;
    margin-top:3em;
    text-transform: uppercase;
    margin-bottom:100px;
}
.line{
    height:2px;
    display:block;
    width:100%;
    background: linear-gradient(90deg, rgba(227,63,104,1), rgba(255,255,255,0));
}
.line{
    margin-left:-500px;
    width:calc(100% + 500px);
}
.slider{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    z-index: 1;
}
.slider .item{
    height:800px;
}
.slider img{
    width:100%;
    height:auto;
}


h2.title{
    font-size:2.5em;
    position:relative;
    z-index: 3;
    text-transform: uppercase;
    text-align:center;
    padding:0.6em 0;
}
h2.title.grey{
    background: #4F4F4F;
    color:#fff;
}
h2.title.pink{
    background: #EB416B;
    color:#fff;
}
.filter-list{
    list-style: none;
    width:100%;
    max-width:1320px;
    margin:50px auto;
    display:flex;
    position:relative;
    z-index: 3;
    justify-content: center;
    flex-wrap:wrap;
}
.more-products{
    display:block;
    font-weight:bold;
    text-align: center;
    text-transform: uppercase;
    padding:5px 30px 5px 5px;
    background:url('../img/arrow-right-pink.png') 95% 50% no-repeat;
}
.filter-list__item{
    border:1px solid #bdbdbd;
    width:16.66%;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.body-type-filter .filter-list__item{
    width:20%;
}
.filter-list__item .filter-button{
    background:transparent;
    border:none;
    width:100%;
    cursor:pointer;
    color: #4F4F4F;
    padding:3px 10px 10px;
    height:100%;
    outline:none;
}
.filter-list__item:hover .filter-button{
    color:#EB416B;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}
.filter-list__item .filter-list__icon{
    width:135px;
    height:60px;
    margin:5px auto;
    display:block;
    background-image:url('../img/type-sprite.png');
    background-repeat:no-repeat;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    background-position-y:0;
}
.body-type-filter .filter-list__item .filter-list__icon{
    background-image:url('../img/sprite-type-2.png');
}
.filter-list__item:hover .filter-list__icon{
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    background-position-y:-60px;
}
.filter-list__item .filter-list__icon.t-auto{
    background-position-x: 0px;
}
.filter-list__item .filter-list__icon.t-moto{
    background-position-x: -270px;
}
.filter-list__item .filter-list__icon.t-electro{
    background-position-x: -135px;
}
.filter-list__item .filter-list__icon.t-spec{
    background-position-x: -405px;
}
.filter-list__item .filter-list__icon.t-water{
    background-position-x: -540px;
}
.filter-list__item .filter-list__icon.t-sedan{
    background-position-x: -540px;
}
.filter-list__item .filter-list__icon.t-offroad{
    background-position-x: -675px;
}
.filter-list__item .filter-list__icon.t-station{
    background-position-x: -810px;
}
.filter-list__item .filter-list__icon.t-coupe{
    background-position-x: -945px;
}
.filter-list__item .filter-list__icon.t-hybrid{
    background-position-x: -1080px;
}
.filter-list__item .filter-list__icon.t-hatchback{
    background-position-x: 0px;
}
.filter-list__item .filter-list__icon.t-cargova{
    background-position-x: -135px;
}
.filter-list__item .filter-list__icon.t-cabriolet{
    background-position-x: -270px;
}
.filter-list__item .filter-list__icon.t-electromobile{
    background-position-x: -405px;
}
/*product cart styles*/
.product-list{
    display:flex;
    justify-content: space-between;
    margin-bottom:30px;
}
.product-list__item{
    width:24%;
    margin:20px 0;
    border:1px solid transparent;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.15);
    background:#fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    flex-direction: column;
    justify-content: space-between;
    display:flex;
}
.product-list__item:hover{
    border:1px solid #bdbdbd;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}
.lazy-image__img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.lazy-image{
    height:220px;
    width:100%;
}
.product-list__desc{
    padding:15px 20px;
    display:flex;
    flex-wrap:wrap;
    margin-top:auto;
}
.product-list__item .title{
    font-size:1.7em;
    font-weight:bold;
    width:100%;
    text-transform: uppercase;
    overflow: hidden;
    max-height:2.5em;
}
.product-list__item .p-flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.product-list__item .auc-date{
    margin:10px 0;
    text-transform: uppercase;
    font-weight:400;
}
.product-list__item .bid{
    font-weight:bold;
    margin:10px 0;
    text-transform: uppercase;
}
.info-list{
    display: flex;
    flex-wrap: wrap;
    margin:10px auto;
    width:100%;
}
.info-list__item{
    width:50%;
    padding:0 10px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin:6px 0;
}
.product-list__info .btn{
    width:80%;
    margin:15px auto;
}
.info-list__item .svg{
    width:30px;
    height:30px;
}
.info-list__item .text{
    width:calc(100% - 30px);
    text-align:center;
    text-transform: uppercase;
}
.product-list__info{
    text-align:center;
}
.product-list__info .vin{
    margin-bottom:10px;
}
.row-list .product-list__item{
    width:100%;
    flex-direction: row;
}
.row-list .info-list__item{
    width:30%;
}
.row-list .product-list__info{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.row-list .product-list__info .vin{
    margin-bottom:0;
    width:50%;
}
.row-list .product-list__info .action{
    width:45%;
}
.row-list .info-list__item .text{
    text-align:left;
    padding-left:10px;
}
.row-list .lazy-image{
    width:380px;
    height:270px;
}
.main-page-search{
    width:100%;
    max-width:840px;
    margin:20px auto;
    padding:30px 0;
}
.main-page-search .table{
    display:flex;
    justify-content: space-between;
}
.table .d50{
    width:23.5%;
}
.d50 .search-label{
    text-transform: uppercase;
    font-weight:bold;
    display:block;
    margin-bottom:5px;
}
.select-block .search-select{
    width:100%;
    font-family: 'Roboto', sans-serif;
    display:block;
    text-transform: uppercase;
    color: #828282;
    border: 1px solid #828282;
    padding:3px 20px 3px 10px;
    height:100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline:none;
}
.select-block .search-select option{
    color:#000;
    font-family: 'Roboto', sans-serif;
}
.polzunok-container-5 * {
    box-sizing: border-box;
    outline: none;
}
.polzunok-container-5 {
    padding: 20px 0;
    margin: 30px 0;
}
.polzunok-container-5:after {
    content: "";
    clear: both;
    display: table;
}
.polzunok-container-5 .ui-slider {
    position: relative;
    background: #e0e0e0;
    height: 4px;
    border:none;
}
.polzunok-container-5 .ui-slider .ui-slider-handle {
    position: absolute;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    top: -6px;
    background: #aeaeae;
    z-index: 2;
}
.polzunok-container-5 .ui-slider .ui-slider-handle:hover,
.polzunok-container-5 .ui-slider .ui-slider-handle:focus {
    background: #eb2664;
}
.polzunok-input-5-left,
.polzunok-input-5-right {
    background: transparent;
    border:none;
    text-align:center;
    position:absolute;
    top:calc(100% + 15px);
    width:80px;
    font-family: 'Roboto', sans-serif;
    z-index: 5;
}
.polzunok-input-5-left {
    left:0;
    text-align:left;
}
.polzunok-input-5-right {
    right:0;
    text-align:right;
}
.polzunok-container-5 .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 4px;
    border: 0;
    background: #EB416B;
}
.main-page-search .actions{
    text-align:center;
}
.main-page-search .actions .btn{
    width:90%;
    max-width:500px;
    margin:20px auto;
    cursor: pointer;
}
.auction-list{
    display:flex;
    justify-content: center;
    margin:20px auto 40px;
}
.auction-list__item{
    padding:10px;
    border:1px solid #bdbdbd;
    cursor: pointer;
    position:relative;
}
.auction-list__item .check-input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    font-family: 'Roboto', sans-serif;
}
.auction-list__item .checkmark{
    position: absolute;
    top: 5px;
    left: 5px;
    height: 24px;
    width: 24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border:1px solid #bdbdbd;
    background-color: transparent;
}

.auction-list__item:hover input ~ .checkmark {
    background-color: #EB416B;
}
.auction-list__item input:checked ~ .checkmark {
    background-color: #eb2664;
    border-color:#EB416B;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.auction-list__item input:checked ~ .checkmark:after {
    display: block;
}
.auction-list__item .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.auction-list__item-logo{
    width:149px;
    height:84px;
    display:block;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
}
.auction-list__item-logo.type-copart{
    background-image:url('../img/type-auc-1.png');
}
.auction-list__item-logo.type-aa{
    background-image:url('../img/type-auc-2.png');
}
.auction-list__item-logo.type-m{
    background-image:url('../img/type-auc-3.png');
}
.auction-list__item-logo.type-cars{
    background-image:url('../img/type-auc-4.png');
}
.search-filter__nav{
    display:flex;
    width:100%;
    max-width:800px;
    margin:0 auto;
    justify-content: space-around;
}
.search-filter__nav .button{
    background:#fff;
    width:40%;
    cursor:pointer;
    font-family: 'Roboto', sans-serif;
    padding:15px;
    text-transform: uppercase;
    font-weight:bold;
    border: 2px solid #333333;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin:15px auto;
    outline:none;
}
.tabs .content-tab{
    display:none;
}
.tabs .content-tab.active{
    display:block;
    animation-duration: 1s;
    animation-name: fadeIn;
}
@keyframes fadeIn {
0% { transform: rotate(0deg) scale(0.5,0.5); opacity: 0;  }
100% { transform: rotate(0deg) scale(1.0,1.0); opacity: 1;  }
}
.search-filter__nav .button:hover,.search-filter__nav .button.active{
    color:#EB416B;
    border-color:#EB416B;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.mark-list{
    display:flex;
    flex-wrap:wrap;
    margin:20px auto 30px;
}
.mark-list__item{
    border:1px solid #bdbdbd;
    width:16.66%;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.mark-list__item:hover{
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.mark-list__item img{
    display:block;
    width:100%;
    height:auto;
}
.pluses{
    display:flex;
    justify-content: space-between;
    padding:30px 10px 30px 0;
    margin:5% auto;
}
.pluses .w50{
    width:48%;
}
.pluses .h2-title{
    font-size:2.5em;
    text-transform: uppercase;
}
.pluses .text{
    line-height:1.75em;
    margin:5% 0;
}
.pluses .video{
    width:570px;
    height:320px;
    background:url('../img/video-bg.png') center center no-repeat;
    background-size:cover;
    -webkit-box-shadow: 10px 10px 0px 0px rgba(235,65,107,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(235,65,107,1);
    box-shadow: 10px 10px 0px 0px rgba(235,65,107,1);
}
.why-we{
    padding:100px 0;
    background:url('../img/why-we-bg.jpg') center center / cover no-repeat;
}
.why-we .container-lg{
    background: rgba(255, 255, 255, 0.8);
    padding:15px;
}
.why-we .h2-title{
    text-transform: uppercase;
    text-align:center;
    font-size:2.5em;
    margin:1em auto;
}
.why-we__list{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:30px;
}
.why-we__item{
    width:28%;
    margin-bottom:3%;
}
.why-we__item .title{
    font-size:1.7em;
    text-transform: uppercase;
    position:relative;
    display:flex;
    align-items: center;
    margin:10px 0 20px;
}
.why-we__item .title i{
    width:60px;
    height:60px;
    margin-right:-30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background:#FF6B8F;
    display:block;
}
.why-we__item .text{
    padding-left:30px;
    line-height:1.7em;
}
.clients .search-filter__nav{
    margin:30px auto;
}
.videoreviews__item{
    width:24%;
}
.videoreviews__item .video{
    width:100%;
    height:350px;
    background:#333 url('../img/play.png') center center no-repeat;
}
.videoreviews__list{
    display:flex;
    justify-content: space-between;
}
.videoreviews__item .name{
    font-size:1.3em;
    margin-top:10px;
}
.process{
}
.process .title{
    color:#333;
    margin-top:1.5em;
    font-size:3em;
    line-height:1.4em
}
.process-list{
    padding:25px 0 0;
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position:relative;
}
.process-list .progressbar{
    position:absolute;
    width:2px;
    height:calc(100% - 140px);
    background:#e0e0e0;
    left:50%;
    z-index: 1;
}
.process-list__item{
    width:100%;
    margin-top:-20px;
    padding-right:0;
    padding-left:calc(50% - 10px);
}
.process-list__item:nth-child(2n+1){
    padding-right:calc(50% - 10px);
    padding-left:0;
}
.process-list__item h4{
    text-transform: uppercase;
    position:relative;
    z-index: 3;
    padding-left:45px;
    padding-right:0;
    font-size:2.5em;
    width:100%;
    margin-bottom:10px;
    background:url('../img/mark-circle.png') 0 50% no-repeat;
}
.process-list__item:nth-child(2n+1) h4{
    background:url('../img/mark-circle.png') 100% 50% no-repeat;
    padding-left:0;
    padding-right:45px;
}
.process-list__item .text{
    line-height:1.6em;
    padding:0 45px;
}
.process-list__item.with-image{
     display:flex;
     margin-top:5%;
     align-items: center;
    padding-right:calc(50% - 115px);
 }
.process-list__item.with-image h4{
    height:230px;
    display:flex;
    margin-bottom:0;
    align-items: center;
    background:url('../img/mark-circle-pink.png') 100% 50% no-repeat;
}
.process-list .bottom-car{
    position:absolute;
    width:824px;
    height:280px;
    bottom:0;
    right:-23%;
    z-index: 4;
    background:url('../img/process-bg-2.png') center center / contain no-repeat;
}
.bonus .title{
    font-size:3em;
    margin:1em auto 0;
}
.bonus-form{
    width:100%;
    max-width:880px;
    margin:20px auto;
    display:flex;
    justify-content: space-between;
    align-items: stretch;
}
.bonus-form .input{
    width:30%;
    padding:14px 10px;
    text-transform: uppercase;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
}
.bonus-form .input.main-btn{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border:none;
}
.about-us{
    padding:30px 0;
}
.about-us .search-filter__nav{
    margin-bottom:30px;
}
.news-list{
    display:flex;
    justify-content: space-between;
    margin-bottom:50px;
}
.news-list__item{
    overflow: hidden;
    margin-bottom:20px;
}
.left .news-list__item{
    height:475px;
}
.news-list .left{
    width:65%;
}
.news-title{

    border-bottom:2px solid #EB416B;
    margin:15px 0;
    padding-bottom:5px;
}
.left .news-title{
    font-size:1.3em;
}
.right .news-list__item{
    margin-bottom:30px;
}
.right .news-title{
    font-size:1.75em;
    text-transform: uppercase;
    line-height: 1.4em;
    margin-top:0;
}
.news-desc{
    line-height:1.7em;
}
.left .news-image{
    height:300px;
    width:100%;
    overflow: hidden;
}
.right .news-image{
    height:250px;
}
.news-image img{
    object-fit: cover;
    object-position: center;
    width:100%;

}
.news-list .right{
    width:33%;

}
.right .overflow{
    height:890px;
    margin-bottom:25px;
    overflow:auto;
}
.right .btn{
    width:100%;
}
.owl-carousel{
    margin:20px auto;
}
.owl-carousel .item{
    height:84px;
    -webkit-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
}
.owl-carousel .item:hover{
    -o-filter: none;
    filter: none;
    filter: none;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.contact-block{
    margin-top:50px;
    padding:20px 0;
    text-align:center;
}
.contact-block .text{
    text-align:center;
    line-height:1.7em;
    margin:0 auto 50px;
}
.contact-form{
    max-width:950px;
    width:100%;
    margin:10px auto 50px;
}
.contact-form .flex{
    display:flex;
    justify-content: space-between;
    margin:20px auto 30px;
}
.contact-form .send-btn{
    width:30%;
}
.nice-select{
    width:100%;
    border:1px solid #bdbdbd;
}
.contact-form .input{
    width:31%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #828282;
    display:block;
    padding:14px 10px;
    font-size:1em;
    text-transform: uppercase;
    color:#333;

}
.contact-form .select{
    width:31%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #828282;
    display:block;
    padding:0;
    font-size:1em;
    text-transform: uppercase;
    color:#333;
    height:46px;
}
.select .current{
    margin:3px 0 0 10px;
    display:block;
}
.nice-select.open .list{
    width:100%;
    max-height:400px;
    overflow-y:auto;
}
.nice-select.open .list li:hover{
    background:#efefef;
    cursor:pointer;
}
.footer{
    background:#000;
    padding:30px 15px;
}
.footer-row{
    max-width:1580px;
    width:100%;
    margin:0 auto;
    color:#fff;
    font-size:1.25em;
    display:flex;
    line-height:1.4em;
    font-weight:300;
    justify-content: space-between;
}
.footer-row .w25{
    width:24%;
    margin-top:3%;
}
.footer-row .w50{
    width:48%;
    margin-bottom:3%;
}
.footer-row a{
    color:#fff;
}
.footer-row a:hover{
    color:#EB416B;
}
.col-title{
    border-bottom:2px solid #EB416B;
    padding:5px 0 3px;
    text-transform: uppercase;
    font-weight:400;
    font-size:1em;
    margin:0 0 15px;
}
.ftr-logo{
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.ftr-logo .text{
    text-transform: uppercase;
    font-size:1.3em;
    margin-top:7%;
}
.auction-page .first-screen .container{
    display:block;
    width:100%;
    max-width:400px;
    margin:21.5% auto 0;
}
.fix-price-page .first-screen .container{
    margin:10% auto 14%;
}
.auction-page .first-screen .title{
    text-transform: uppercase;
    font-size:4.5em;
    font-weight:900;
    text-align:center;
}
.fix-price-page .first-screen .title{
    text-transform: uppercase;
    font-size:4.5em;
    font-weight:900;
    text-align:left;
}
.auction-page .top-form .input{
    display:block;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:10px auto 20px;
    padding:14px 10px;
}
.auction-page .top-form .btn{
    width:100%;
    margin-bottom:40px;
}
.auction-page .top-filter {
    padding:50px 0;
}
.auc-result .container{
    display:flex;
}
.auc-result .left{
    width:calc(25% - 10px);
    margin-right:20px;
}
.auc-result .right{
    width:calc(75% - 10px);
}
.auc-result .right{
    padding-bottom:100px;
}
.right .sort{
    border:1px solid #d6d6d6;
    padding:10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.right .sort .btn{
    width:240px;
}
.sort .sort-type{
    width:400px;
}
.sort .title,.filter-title{
    text-transform: uppercase;
    font-weight:bold;
}
.filters{
    padding:20px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.filters .ttl{
    text-transform: uppercase;
    text-align:center;
    color: #828282;
    font-weight:bold;
    margin:0 auto 20px;
}
.filter-label{
    text-transform: uppercase;
    color:#333;
    font-weight:bold;
}
.filter-row .select-block{
    height:46px;
    margin:5px auto 15px;

}
.filters .nice-block{
    border: 1px solid #828282;
}
.filter-item__check{
    margin:15px 0;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.filter-item__check .check-input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    font-family: 'Roboto', sans-serif;
}
.filter-item__check .checkmark{
    height: 24px;
    width: 24px;
    margin-right:10px;
    display:block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #bdbdbd;
    background-color: transparent;
}

.filter-item__check:hover input ~ .checkmark {
    background-color: #EB416B;
}
.filter-item__check input:checked ~ .checkmark {
    background-color: #eb2664;
    border-color:#EB416B;
}
.filter-item__check .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.filter-item__check input:checked ~ .checkmark:after {
    display: block;
}
.filter-item__check .text{
    text-transform: uppercase;
    font-weight:bold;
}
.filter-row{
    padding:10px 0;
}
.underline{
    height:1px;
    margin:0 auto;
    width:100%;
    background: #E0E0E0;
}
.filter-row .polzunok-container-5{
    margin:10px auto 40px;
    padding:0 0 10px;
}
.polzunok-container-5 .t{
    margin:15px 0 20px;
    text-transform: uppercase;
    font-weight:bold;
    display:flex;
    justify-content: space-between;
}
.filter-items{
    display:none;
    padding-top:10px;
}
.filter-items .filter-item__check .text{
    font-weight:normal;
}
.filter-container .filter-title{
    cursor:pointer;
    display:flex;
    justify-content: space-between;
}
.filter-container .filter-title .arrow{
    display:block;
    width:16px;
    height:16px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    background:url('../img/arrow-down-sign-to-navigate.png') 50% 50% no-repeat;
}
.filter-container .filter-title.active .arrow{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.filter-items  .filter-item__check{
    margin:5px 0;
}
.filter-row .btn{
    width:100%;
    margin:15px auto 10px;
}
.pagination{
    display:inline-flex;
    justify-content: space-between;
}
.pagination .active{
    background:#eb2664;
    border-color:#eb2664;
    color:#fff;
}
.pagination a:hover{
    background-color:#EB416B;
    border-color:#EB416B;
    color:#fff;
}
.pagination__number,.pagination__arrow{
    display:flex;
    padding:14px 18px;
    margin-right:10px;
    border: 1px solid #828282;
    border-radius: 4px;
    color: #828282;
    cursor: pointer;
}
.pagination__number{
    order:2;
}
.pagination__arrow--prev{
    order:1;
    padding-left:30px;
    background:#fff url('../img/arrow-right-nav.png') 10% 50% no-repeat;
}
.pagination__arrow--next{
    order:3;
    padding-right:30px;
    background:#fff url('../img/arrow-left-nav.png') 90% 50% no-repeat;
}
.pagination__arrow--next:hover{
    background-image:url('../img/arrow-right.png');
}