<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Автомобили с фиксированной стоимостью</title>
    <link rel="stylesheet" href="libs/jquery/jquery.ui.min.css">
    <link rel="stylesheet" href="libs/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/owl-carousel/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="libs/nice-select/nice-select.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/media.css">
</head>
<body class="fix-price-page">
<header class="header">
    <div class="top">
        <div class="logo"><a href=""></a></div>
        <div class="callphone">
            <i class="callphone-x-icon"></i>
            <div>
                <span>Позвоните нам</span>
                <a href="tel:+996703003995" class="a">+996(700)300-600</a>
            </div>
        </div>
        <div class="right">
            <ul class="social-icons">
                <li>
                    <a href="https://www.facebook.com/w8shipping.kg/" target="_blank" class="sa sa-whatsapp"></a>
                </li>
                <li>
                    <a href="#" class="sa sa-instagram"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/w8shipping.kg" target="_blank" class="sa sa-facebook"></a>
                </li>
                <li>
                    <a href="#" class="sa sa-linkedin"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="menu">
        <ul class="menu-list">
            <li class="menu-list_item">
                <a href="/" class="active">
                    <span>Главная</span>
                    <b>w8 Shipping</b>
                </a>
            </li>
            <li class="menu-list_item">
                <a href="" class="">
                    <span>О нас</span>
                    <b>Кто мы?</b>
                </a>
            </li>
            <li class="menu-list_item">
                <a href="" class="">
                    <span>Каталог</span>
                    <b>Поиск авто</b>
                </a>
            </li>
            <li class="menu-list_item">
                <a href="">
                    <span>Сотрудничество</span>
                    <b>Партнерам, Дилерам</b>
                </a>
                <div class="sub-menu">
                    <ul>
                        <li>
                            <a href="/" class="shake">Партнерам</a>
                        </li>
                        <li>
                            <a href="/dealers" class="car">Дилерам</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="menu-list_item">
                <a href="" class="">
                    <span>Блог</span>
                    <b>О чем мы говорим</b>
                </a>
            </li>
            <li class="menu-list_item">
                <a href="" class="">
                    <span>Отзывы</span>
                    <b>Наши клиенты</b>
                </a>
            </li>
            <li class="menu-list_item">
                <a href="" class="">
                    <span>Контакты</span>
                    <b>Напишите нам</b>
                </a>
            </li>
        </ul>
    </div>
</header>
<section class="section first-screen">
    <div class="slider">
        <div class="item" style="background: url('img/fix-price-slide.jpg') center center / cover no-repeat;"></div>
    </div>
    <div class="container">
        <h1 class="title">автомобили<br>
            с фиксированной<br>
            ценой</h1>
    </div>
</section>
<section class="section top-filter">
    <div class="container">
        <h2 class="title">продажа легковых автомобилей:<br><span class="color_main">133063 предложений в каталоге</span></h2>
        <div class="search-filter">
            <div class="mark-list">
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/bmw.png" %} alt="BMW" title="BMW"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/toyota.png" %} alt="" title="Toyota"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/subaru.png" %} alt="" title="Subaru"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/mers.png" %} alt="" title="Mercedes-Benz"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/lexus.png" %} alt="" title="Lexus"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/chevrolet.png" %} alt="" title="Chevrolet"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/acura.png" %} alt="" title="Acura"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/audi.png" %} alt="" title="Audi"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/nissan.png" %} alt="" title="Nissan"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/porsche.png" %} alt="" title="Porsche"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/ford.png" %} alt="" title="Ford"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/infiniti.png" %} alt="" title="Infiniti"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/jeep.png" %} alt="" title="Jeep"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/hummer.png" %} alt="" title="Hummer"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/honda.png" %} alt="" title="Honda"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/gmc.png" %} alt="" title="GMC"></a></div>
                <div class="mark-list__item"><a href="#result"><img src={% static "img/mark/vw.png" %} alt="" title="Volkswagen"></a></div>
                <div class="mark-list__item"><a href="#result" class="more-products color_main">Еще варианты</a></div>
            </div>
        </div>
    </div>
</section>
<section class="section auc-result" id="result">
    <div class="container">
        <div class="left">
            <div class="filters">
                <div class="ttl">параметры поиска авто</div>
                <div class="filter-row">
                    <label for="brand" class="filter-label">Марка</label>
                    <div class="select-block">
                        <select name="brand" class="search-select" id="brand">
                            <option disabled="" selected="">Выберите марку</option>
                            <option value="mazda">Mazda</option>
                            <option value="nissan">Nissan</option>
                            <option value="infiniti">Infiniti</option>
                            <option value="audi">Audi</option>
                            <option value="toyota">Toyota</option>
                            <option value="bmw">BMW</option>
                            <option value="honda">Honda</option>
                            <option value="ford">Ford</option>
                            <option value="lexus">Lexus</option>
                            <option value="mercedesbenz">Mercedes Benz</option>
                            <option value="volkswagen">Volkswagen</option>
                            <option value="hyundai">Hyundai</option>
                            <option value="kia">Kia</option>
                            <option value="mitsubishi">Mitsubishi</option>
                            <option value="acura">Acura</option>
                            <option value="chevrolet">Chevrolet</option>
                            <option value="dodge">Dodge</option>
                            <option value="jeep">Jeep</option>
                            <option value="chrysler">Chrysler</option>
                            <option value="lincoln">Lincoln</option>
                            <option value="fiat">Fiat</option>
                            <option value="subaru">Subaru</option>
                            <option value="mini">Mini</option>
                            <option value="volvo">Volvo</option>
                            <option value="smart">Smart</option>
                            <option value="cadillac">Cadillac</option>
                            <option value="buick">Buick</option>
                            <option value="tesla">Tesla</option>
                            <option value="rollsroyce">Rolls Royce</option>
                            <option value="porsche">Porsche</option>
                            <option value="landrover">Land Rover</option>
                            <option value="hummer">Hummer</option>
                            <option value="gmc">GMC</option>
                        </select>
                    </div>
                </div>
                <div class="filter-row">
                    <label for="model" class="filter-label">Модель</label>
                    <div class="select-block">
                        <select name="model" class="search-select" id="model"><option value="" disabled="" selected="">Выберите модель</option><option value="3">3</option><option value="5">5</option><option value="6">6</option><option value="cx3">CX-3</option><option value="cx5">CX-5</option><option value="cx7">CX-7</option><option value="cx9">CX-9</option><option value="mazda2">Mazda 2</option><option value="rx8">RX8</option><option value="tribute7942">Tribute</option></select>
                    </div>
                </div><div class="underline"></div>
                <div class="filter-row">

                    <label class="filter-item__check">
                        <input class="check-input"  type="checkbox">
                        <span class="checkmark"></span>
                        <span class="text">Купить сейчас</span>
                    </label>
                    <label class="filter-item__check">
                        <input class="check-input" type="checkbox">
                        <span class="checkmark"></span>
                        <span class="text">Без повреждений</span>
                    </label>

                </div><div class="underline"></div>
                <div class="filter-row">
                    <div class="price-range polzunok-container-5">
                        <div class="t">
                            <span>Цена от</span>
                            <span>Цена до</span>
                        </div>
                        <div class="" id="price-slider">
                            <input type="text" class="polzunok-input-5-left" value="6000" />
                            <input type="text" class="polzunok-input-5-right" value="15000"/>
                            <div class="polzunok-5"></div>
                        </div>
                    </div>
                </div>

                <div class="underline"></div>
                <div class="filter-row">
                    <div class="filter-container">
                        <div class="filter-title"><span>Год выпуска</span><i class="arrow"></i></div>
                        <div class="filter-items">
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2019</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2018</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2017</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2016</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2015</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2014</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2013</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2012</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-row">
                    <div class="filter-container">
                        <div class="filter-title"><span>Повреждения</span><i class="arrow"></i></div>
                        <div class="filter-items">
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2019</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2018</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2017</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2016</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2015</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2014</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2013</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2012</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-row">
                    <div class="filter-container">
                        <div class="filter-title"><span>Пробег</span><i class="arrow"></i></div>
                        <div class="filter-items">
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2019</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2018</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2017</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2016</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2015</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2014</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2013</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2012</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filter-row">
                    <div class="filter-container">
                        <div class="filter-title"><span>Топливо</span><i class="arrow"></i></div>
                        <div class="filter-items">
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2019</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2018</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2017</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2016</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2015</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2014</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2013</span>
                                </label>
                            </div>
                            <div class="filter-item">
                                <label class="filter-item__check">
                                    <input class="check-input" type="checkbox">
                                    <span class="checkmark"></span>
                                    <span class="text">2012</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="filter-row">
                    <input type="submit" class="btn main-btn" value="Поиск">
                    <a  href="" class="btn">Очистить поиск</a>
                </div>
            </div>

        </div>
        <div class="right">
            <div class="sort">
                <div class="title">Сортировать</div>
                <div class="sort-type">
                    <select>
                        <option value="1">Лучшие результаты</option>
                        <option value="1">По возрастанию цены</option>
                        <option value="1">По убыванию цены</option>
                    </select>
                </div>
                <input type="submit" value="Сортировать" class="btn main-btn">
            </div>
            <div class="result row-list">
                <div class="product-list__item">
                    <div class="product-list__image">
                        <a href="">
                            <div class="lazy-image"><img src="img/default-car-image.png" alt="" class="lazy-image__img"></div>
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-list__desc">
                            <div class="title"><a href="#">FORD EXPEDITION</a></div>
                            <div class="p-flex">
                                <div class="auc-date">Дата аукциона: <span class="color_main">14.05.2019</span></div>
                                <div class="bid"><span class="color_main">Ставка $200</span></div>
                            </div>
                            <div class="info-list">
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/mileage.svg" alt=""></span>
                                    <span class="text">228 497 км</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/calendar.svg" alt=""></span>
                                    <span class="text">2008</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/motor.svg" alt=""></span>
                                    <span class="text">2.4 л.</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/car.svg" alt=""></span>
                                    <span class="text">Седан</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/fuel-station.svg" alt=""></span>
                                    <span class="text">Бензин</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/gearshift.svg" alt=""></span>
                                    <span class="text">Автомат</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-list__info">
                            <div class="vin color_main">VIN: <span>1HGCP26898A******</span></div>
                            <div class="action"><a href="#" class="btn main-btn">Подробнее</a></div>
                        </div>
                    </div>
                </div>
                <div class="product-list__item">
                    <div class="product-list__image">
                        <a href="">
                            <div class="lazy-image"><img src="img/default-car-image.png" alt="" class="lazy-image__img"></div>
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-list__desc">
                            <div class="title"><a href="#">FORD EXPEDITION</a></div>
                            <div class="p-flex">
                                <div class="auc-date">Дата аукциона: <span class="color_main">14.05.2019</span></div>
                                <div class="bid"><span class="color_main">Ставка $200</span></div>
                            </div>
                            <div class="info-list">
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/mileage.svg" alt=""></span>
                                    <span class="text">228 497 км</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/calendar.svg" alt=""></span>
                                    <span class="text">2008</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/motor.svg" alt=""></span>
                                    <span class="text">2.4 л.</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/car.svg" alt=""></span>
                                    <span class="text">Седан</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/fuel-station.svg" alt=""></span>
                                    <span class="text">Бензин</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/gearshift.svg" alt=""></span>
                                    <span class="text">Автомат</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-list__info">
                            <div class="vin color_main">VIN: <span>1HGCP26898A******</span></div>
                            <div class="action"><a href="#" class="btn main-btn">Подробнее</a></div>
                        </div>
                    </div>
                </div>
                <div class="product-list__item">
                    <div class="product-list__image">
                        <a href="">
                            <div class="lazy-image"><img src="img/default-car-image.png" alt="" class="lazy-image__img"></div>
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-list__desc">
                            <div class="title"><a href="#">FORD EXPEDITION</a></div>
                            <div class="p-flex">
                                <div class="auc-date">Дата аукциона: <span class="color_main">14.05.2019</span></div>
                                <div class="bid"><span class="color_main">Ставка $200</span></div>
                            </div>
                            <div class="info-list">
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/mileage.svg" alt=""></span>
                                    <span class="text">228 497 км</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/calendar.svg" alt=""></span>
                                    <span class="text">2008</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/motor.svg" alt=""></span>
                                    <span class="text">2.4 л.</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/car.svg" alt=""></span>
                                    <span class="text">Седан</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/fuel-station.svg" alt=""></span>
                                    <span class="text">Бензин</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/gearshift.svg" alt=""></span>
                                    <span class="text">Автомат</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-list__info">
                            <div class="vin color_main">VIN: <span>1HGCP26898A******</span></div>
                            <div class="action"><a href="#" class="btn main-btn">Подробнее</a></div>
                        </div>
                    </div>
                </div>
                <div class="product-list__item">
                    <div class="product-list__image">
                        <a href="">
                            <div class="lazy-image"><img src="img/default-car-image.png" alt="" class="lazy-image__img"></div>
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-list__desc">
                            <div class="title"><a href="#">FORD EXPEDITION</a></div>
                            <div class="p-flex">
                                <div class="auc-date">Дата аукциона: <span class="color_main">14.05.2019</span></div>
                                <div class="bid"><span class="color_main">Ставка $200</span></div>
                            </div>
                            <div class="info-list">
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/mileage.svg" alt=""></span>
                                    <span class="text">228 497 км</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/calendar.svg" alt=""></span>
                                    <span class="text">2008</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/motor.svg" alt=""></span>
                                    <span class="text">2.4 л.</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/car.svg" alt=""></span>
                                    <span class="text">Седан</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/fuel-station.svg" alt=""></span>
                                    <span class="text">Бензин</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/gearshift.svg" alt=""></span>
                                    <span class="text">Автомат</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-list__info">
                            <div class="vin color_main">VIN: <span>1HGCP26898A******</span></div>
                            <div class="action"><a href="#" class="btn main-btn">Подробнее</a></div>
                        </div>
                    </div>
                </div>
                <div class="product-list__item">
                    <div class="product-list__image">
                        <a href="">
                            <div class="lazy-image"><img src="img/default-car-image.png" alt="" class="lazy-image__img"></div>
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-list__desc">
                            <div class="title"><a href="#">FORD EXPEDITION</a></div>
                            <div class="p-flex">
                                <div class="auc-date">Дата аукциона: <span class="color_main">14.05.2019</span></div>
                                <div class="bid"><span class="color_main">Ставка $200</span></div>
                            </div>
                            <div class="info-list">
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/mileage.svg" alt=""></span>
                                    <span class="text">228 497 км</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/calendar.svg" alt=""></span>
                                    <span class="text">2008</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/motor.svg" alt=""></span>
                                    <span class="text">2.4 л.</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/car.svg" alt=""></span>
                                    <span class="text">Седан</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/fuel-station.svg" alt=""></span>
                                    <span class="text">Бензин</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/gearshift.svg" alt=""></span>
                                    <span class="text">Автомат</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-list__info">
                            <div class="vin color_main">VIN: <span>1HGCP26898A******</span></div>
                            <div class="action"><a href="#" class="btn main-btn">Подробнее</a></div>
                        </div>
                    </div>
                </div>
                <div class="product-list__item">
                    <div class="product-list__image">
                        <a href="">
                            <div class="lazy-image"><img src="img/default-car-image.png" alt="" class="lazy-image__img"></div>
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-list__desc">
                            <div class="title"><a href="#">FORD EXPEDITION</a></div>
                            <div class="p-flex">
                                <div class="auc-date">Дата аукциона: <span class="color_main">14.05.2019</span></div>
                                <div class="bid"><span class="color_main">Ставка $200</span></div>
                            </div>
                            <div class="info-list">
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/mileage.svg" alt=""></span>
                                    <span class="text">228 497 км</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/calendar.svg" alt=""></span>
                                    <span class="text">2008</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/motor.svg" alt=""></span>
                                    <span class="text">2.4 л.</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/car.svg" alt=""></span>
                                    <span class="text">Седан</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/fuel-station.svg" alt=""></span>
                                    <span class="text">Бензин</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/gearshift.svg" alt=""></span>
                                    <span class="text">Автомат</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-list__info">
                            <div class="vin color_main">VIN: <span>1HGCP26898A******</span></div>
                            <div class="action"><a href="#" class="btn main-btn">Подробнее</a></div>
                        </div>
                    </div>
                </div>
                <div class="product-list__item">
                    <div class="product-list__image">
                        <a href="">
                            <div class="lazy-image"><img src="img/default-car-image.png" alt="" class="lazy-image__img"></div>
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-list__desc">
                            <div class="title"><a href="#">FORD EXPEDITION</a></div>
                            <div class="p-flex">
                                <div class="auc-date">Дата аукциона: <span class="color_main">14.05.2019</span></div>
                                <div class="bid"><span class="color_main">Ставка $200</span></div>
                            </div>
                            <div class="info-list">
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/mileage.svg" alt=""></span>
                                    <span class="text">228 497 км</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/calendar.svg" alt=""></span>
                                    <span class="text">2008</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/motor.svg" alt=""></span>
                                    <span class="text">2.4 л.</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/car.svg" alt=""></span>
                                    <span class="text">Седан</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/fuel-station.svg" alt=""></span>
                                    <span class="text">Бензин</span>
                                </div>
                                <div class="info-list__item">
                                    <span class="svg"><img src="img/gearshift.svg" alt=""></span>
                                    <span class="text">Автомат</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-list__info">
                            <div class="vin color_main">VIN: <span>1HGCP26898A******</span></div>
                            <div class="action"><a href="#" class="btn main-btn">Подробнее</a></div>
                        </div>
                    </div>
                </div>
                <div class="pagination">
                    <a class="pagination__number active">1</a>
                    <a class="pagination__number">2</a>
                    <a class="pagination__number">3</a>
                    <a class="pagination__number">...</a>
                    <a class="pagination__number">598</a>
                    <a class="pagination__number">9998</a>
                    <a class="pagination__number">9999</a>
                    <a class="pagination__arrow pagination__arrow--prev">Предыдущая</a>
                    <a class="pagination__arrow pagination__arrow--next">Следующая</a>
                </div>
            </div>

        </div>
    </div>
</section>
<footer class="footer">
    <div class="footer-row">
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
    </div>
    <div class="footer-row">
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
    </div>
    <div class="footer-row">
        <div class="footer-col w50">
            <div class="ftr-logo">
                <div class="logo"><img src="img/ftr-logo.png" alt=""></div>
                <div class="text color_main">лидер по экспорту<br>поддержанных автомобилей<br>по всему миру</div>
            </div>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="libs/jquery/jquery.ui.touch-punch.min.js"></script>
<script src={% static "libs/owl-carousel/js/owl.carousel.min.js" %}></script>
<script src={% static "libs/scrollbar/smooth-scrollbar.js" %}></script>
<script src={% static "libs/nice-select/jquery.nice-select.min.js" %}></script>
<script src={% static "js/common.js" %}></script>
</body>
</html>