{% load static %}
<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'libs/jquery/jquery.ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/owl-carousel/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'libs/owl-carousel/css/owl.theme.default.min.css' %}" >
    <link rel="stylesheet" href="{% static 'libs/nice-select/nice-select.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/media.css'%}">
</head>
<body class="">
<header class="header">
    <div class="top">
        <div class="logo"><a href= ""> </a></div>
        <div class="callphone">
            <i class="callphone-x-icon"></i>
            <div>
                <span>Позвоните нам</span>
                <a href="tel:+996703003995" class="a">+996(700)300-600</a>
            </div>
        </div>
        <div class="right">
            <ul class="social-icons">
                <li>
                    <a href="https://www.facebook.com/w8shipping.kg/" target="_blank" class="sa sa-whatsapp"></a>
                </li>
                <li>
                    <a href="#" class="sa sa-instagram"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/w8shipping.kg" target="_blank" class="sa sa-facebook"></a>
                </li>
                <li>
                    <a href="#" class="sa sa-linkedin"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="menu">
        <ul class="menu-list">
            <li class="menu-list_item">
                <a href="/" class="active">
                    <span>Главная</span>
                    <b>w8 Shipping</b>
                </a>
            </li>
            <li class="menu-list_item">
                <a href="" class="">
                    <span>О нас</span>
                    <b>Кто мы?</b>
                </a>
            </li>
            <li class="menu-list_item">
                <a href="" class="">
                    <span>Каталог</span>
                    <b>Поиск авто</b>
                </a>
            </li>
            <li class="menu-list_item">
                <a href="">
                    <span>Сотрудничество</span>
                    <b>Партнерам, Дилерам</b>
                </a>
                <div class="sub-menu">
                    <ul>
                        <li>
                            <a href="/" class="shake">Партнерам</a>
                        </li>
                        <li>
                            <a href="/dealers" class="car">Дилерам</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="menu-list_item">
                <a href="" class="">
                    <span>Блог</span>
                    <b>О чем мы говорим</b>
                </a>
            </li>
            <li class="menu-list_item">
                <a href="" class="">
                    <span>Отзывы</span>
                    <b>Наши клиенты</b>
                </a>
            </li>
            <li class="menu-list_item">
                <a href="" class="">
                    <span>Контакты</span>
                    <b>Напишите нам</b>
                </a>
            </li>
        </ul>
    </div>
</header>
<section class="section first-screen">
    <div class="slider">
        <div class="item" style="background:{% static '/img/main-slide.jpg' %}center center / cover no-repeat;"></div>
        </div>
    <div class="container">
        <div class="welcome">
            <p class="welc-p">ДОБРО ПОЖАЛОВАТЬ В W8 SHIPPING<i class="line"></i></p>

            <h1 class="title">Доставка авто из
                <span>США</span></h1>
            <a href="#" class="btn main-btn btn-next">Быстрый подбор авто</a>
            <div class="dop">•	Полный перечень услуг по покупке и транспортировке<br>
                любых транспортных средств <i class="line"></i></div>

        </div>
    </div>
</section>
<section class="section">
    <h2 class="title grey">Что мы можем привезти в Кыргызстан</h2>
    <div class="container-lg">
        <div class="product-type-filter">
            <ul class="filter-list">
                <li class="filter-list__item">
                    <button class="filter-button">
                        <i class="filter-list__icon t-auto"></i>
                        <span>автомобили</span>
                    </button>
                </li>
                <li class="filter-list__item">
                    <button class="filter-button">
                        <i class="filter-list__icon t-electro"></i>
                        <span>электромобили</span>
                    </button>
                </li>
                <li class="filter-list__item">
                    <button class="filter-button">
                        <i class="filter-list__icon t-moto"></i>
                        <span>мототранспорт</span>
                    </button>
                </li>
                <li class="filter-list__item">
                    <button class="filter-button">
                        <i class="filter-list__icon t-spec"></i>
                        <span>спецтехника</span>
                    </button>
                </li>
                <li class="filter-list__item">
                    <button class="filter-button">
                        <i class="filter-list__icon t-water"></i>
                        <span>водный транспорт</span>
                    </button>
                </li>
                <li class="filter-list__item">
                    <a href="#" class="more-products color_main">Еще варианты</a>
                </li>
            </ul>
        </div>
        <div class="product-list">
            <div class="product-list__item">
                <div class="product-list__image">
                    <a href="">
                        <div class="lazy-image"><img src="img/default-car-image.png" alt="" class="lazy-image__img"></div>
                    </a>
                </div>
                <div class="product-info">
                    <div class="product-list__desc">
                        <div class="title"><a href="#">FORD EXPEDITION</a></div>
                        <div class="p-flex">
                            <div class="auc-date">Дата аукциона: <span class="color_main">14.05.2019</span></div>
                            <div class="bid"><span class="color_main">Ставка $200</span></div>
                        </div>
                        <div class="info-list">
                            <div class="info-list__item">
                                <span class="svg"><img src= {% static "img/mileage.svg" %}  alt=""></span>
                                <span class="text">228 497 км</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={%static "img/calendar.svg" %}alt=""></span>
                                <span class="text">2008</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/motor.svg" %} alt=""></span>
                                <span class="text">2.4 л.</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/car.svg" %} alt=""></span>
                                <span class="text">Седан</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/fuel-station.svg" %} alt=""></span>
                                <span class="text">Бензин</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/gearshift.svg" %} alt=""></span>
                                <span class="text">Автомат</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-list__info">
                        <div class="vin color_main">VIN: <span>1HGCP26898A******</span></div>
                        <div class="action"><a href="#" class="btn main-btn">Подробнее</a></div>
                    </div>
                </div>
            </div>
            <div class="product-list__item">
                <div class="product-list__image">
                    <a href="">
                        <div class="lazy-image"><img src={% static "img/default-car-image.png" %} alt="" class="lazy-image__img"></div>
                    </a>
                </div>
                <div class="product-info">
                    <div class="product-list__desc">
                        <div class="title"><a href="#">FORD EXPEDITION</a></div>
                        <div class="p-flex">
                            <div class="auc-date">Дата аукциона: <span class="color_main">14.05.2019</span></div>
                            <div class="bid"><span class="color_main">Ставка $200</span></div>
                        </div>
                        <div class="info-list">
                            <div class="info-list__item">
                                <span class="svg"><img src={% static 'img/mileage.svg' %} alt=""></span>
                                <span class="text">228 497 км</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/calendar.svg" %}alt=""></span>
                                <span class="text">2008</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/motor.svg" %}alt=""></span>
                                <span class="text">2.4 л.</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/car.svg" %}alt=""></span>
                                <span class="text">Седан</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/fuel-station.svg" %} alt=""></span>
                                <span class="text">Бензин</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/gearshift.svg" %} alt=""></span>
                                <span class="text">Автомат</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-list__info">
                        <div class="vin color_main">VIN: <span>1HGCP26898A******</span></div>
                        <div class="action"><a href="#" class="btn main-btn">Подробнее</a></div>
                    </div>
                </div>
            </div>
            <div class="product-list__item">
                <div class="product-list__image">
                    <a href="">
                        <div class="lazy-image"><img src={% static "img/default-car-image.png" %}alt="" class="lazy-image__img"></div>
                    </a>
                </div>
                <div class="product-info">
                    <div class="product-list__desc">
                        <div class="title"><a href="#">FORD EXPEDITION</a></div>
                        <div class="p-flex">
                            <div class="auc-date">Дата аукциона: <span class="color_main">14.05.2019</span></div>
                            <div class="bid"><span class="color_main">Ставка $200</span></div>
                        </div>
                        <div class="info-list">
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/mileage.svg" %} alt=""></span>
                                <span class="text">228 497 км</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/calendar.svg"%} alt=""></span>
                                <span class="text">2008</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/motor.svg"%} alt=""></span>
                                <span class="text">2.4 л.</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/car.svg"%} alt=""></span>
                                <span class="text">Седан</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/fuel-station.svg"%} alt=""></span>
                                <span class="text">Бензин</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/gearshift.svg" %} alt=""></span>
                                <span class="text">Автомат</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-list__info">
                        <div class="vin color_main">VIN: <span>1HGCP26898A******</span></div>
                        <div class="action"><a href="#" class="btn main-btn">Подробнее</a></div>
                    </div>
                </div>
            </div>
            <div class="product-list__item">
                <div class="product-list__image">
                    <a href="">
                        <div class="lazy-image"><img src={% static "img/default-car-image.png" %} alt="" class="lazy-image__img"></div>
                    </a>
                </div>
                <div class="product-info">
                    <div class="product-list__desc">
                        <div class="title"><a href="#">FORD EXPEDITION</a></div>
                        <div class="p-flex">
                            <div class="auc-date">Дата аукциона: <span class="color_main">14.05.2019</span></div>
                            <div class="bid"><span class="color_main">Ставка $200</span></div>
                        </div>
                        <div class="info-list">
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/mileage.svg" %}  alt=""></span>
                                <span class="text">228 497 км</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/calendar.svg"%} alt=""></span>
                                <span class="text">2008</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/motor.svg" %} alt=""></span>
                                <span class="text">2.4 л.</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/car.svg" %} alt=""></span>
                                <span class="text">Седан</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/fuel-station.svg" %} alt=""></span>
                                <span class="text">Бензин</span>
                            </div>
                            <div class="info-list__item">
                                <span class="svg"><img src={% static "img/gearshift.svg" %} alt=""></span>
                                <span class="text">Автомат</span>
                            </div>
                        </div>
                    </div>
                    <div class="product-list__info">
                        <div class="vin color_main">VIN: <span>1HGCP26898A******</span></div>
                        <div class="action"><a href="#" class="btn main-btn">Подробнее</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <h2 class="title grey">Поиск авто на аукционах</h2>
    <div class="container">
        <div class="main-page-search">
            <form method="get" id="search_form" data-models-url="{% url 'load_models' %}" novalidate action="{% url 'search_cars' %}">
                <div class="auction-list">
                    <label class="auction-list__item">
                        <input type="checkbox" name="auc-list" class="check-input">
                        <span class="checkmark"></span>
                        <i class="auction-list__item-logo type-copart"></i>
                    </label>
                    <label class="auction-list__item">
                        <input type="checkbox" name="auc-list" class="check-input">
                        <span class="checkmark"></span>
                        <i class="auction-list__item-logo type-aa"></i>
                    </label>
                    <label class="auction-list__item">
                        <input type="checkbox" name="auc-list" class="check-input">
                        <span class="checkmark"></span>
                        <i class="auction-list__item-logo type-m"></i>
                    </label>
                    <label class="auction-list__item">
                        <input type="checkbox" name="auc-list" class="check-input">
                        <span class="checkmark"></span>
                        <i class="auction-list__item-logo type-cars"></i>
                    </label>
                </div>
                <div class="table">
                    <div class="d50">
                        <label for="brand" class="search-label">Марка</label>
                        <div class="select-block">
                            <select name="brand" class="search-select" id="brand">
                                <option disabled="" selected="">Выберите марку</option>
                                {% for mark in marka%}
                                <option value="{{ mark.id }}">{{ mark.marka }}</option>
                                {% endfor %}
{#
                            </select>
                        </div>
                    </div>
                    <div class="d50">
                        <label for="model" class="search-label">Модель</label>
                        <div class="select-block">
                        <select name="model" class="search-select" id="model">
                            <option value="" disabled="" selected="">Выберите модель</option>
                        </select>
                        </div>
                    </div>
                    <div class="d50">
                        <label for="year_from" class="search-label">Год от</label>
                        <div class="select-block">
                            <select name="year_from" class="search-select" id="year_from">
                                <option disabled="" selected="">Выберите год</option>
                                {% for year in year_from %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="d50">
                        <label for="year_to" class="search-label">До</label>
                        <div class="select-block">
                            <select name="year_to" class="search-select" id="year_to">
                                <option disabled="" selected="">Выберите год</option>
                                <option value="2019">2019</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="price-range polzunok-container-5">
                    <div class="" id="price-slider">
                        <input type="text" class="polzunok-input-5-left" value="6000" />
                        <input type="text" class="polzunok-input-5-right" value="15000"/>
                        <div class="polzunok-5"></div>
                    </div>
                </div>
                <div class="actions"><input type="submit" value="смотреть варианты" class="main-btn btn"></div>
            </form>
        </div>
        <div class="search-filter tabs">
            <div class="search-filter__nav">
                <button class="button active" data-tab="tab-1">Поиск авто по маркам</button>
                <button class="button" data-tab="tab-2">Поиск авто по типу кузова</button>
            </div>
            <div class="content-tab tab-1 active">
                <div class="mark-list">
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/bmw.png" %} %} alt="BMW" title="BMW"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/toyota.png" %} %} alt="" title="Toyota"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/subaru.png" %} %} alt="" title="Subaru"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/mers.png" %} %} alt="" title="Mercedes-Benz"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/lexus.png" %} %} alt="" title="Lexus"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/chevrolet.png" %} %} alt="" title="Chevrolet"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/acura.png" %} %} alt="" title="Acura"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/audi.png" %} %} alt="" title="Audi"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/nissan.png" %} %} alt="" title="Nissan"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/porsche.png" %} alt="" title="Porsche"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/ford.png" %} alt="" title="Ford"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/infiniti.png" %} alt="" title="Infiniti"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/jeep.png" %} alt="" title="Jeep"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/hummer.png" %} alt="" title="Hummer"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/honda.png" %} alt="" title="Honda"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/gmc.png" %} alt="" title="GMC"></a></div>
                    <div class="mark-list__item"><a href=""><img src={% static "img/mark/vw.png" %} alt="" title="Volkswagen"></a></div>
                    <div class="mark-list__item"><a href="" class="more-products color_main">Еще варианты</a></div>
                </div>
            </div>
            <div class="content-tab tab-2">
                <div class="body-type-filter">
                    <ul class="filter-list">
                        <li class="filter-list__item">
                            <button class="filter-button">
                                <i class="filter-list__icon t-sedan"></i>
                                <span>седан</span>
                            </button>
                        </li>
                        <li class="filter-list__item">
                            <button class="filter-button">
                                <i class="filter-list__icon t-offroad"></i>
                                <span>внедорожник</span>
                            </button>
                        </li>
                        <li class="filter-list__item">
                            <button class="filter-button">
                                <i class="filter-list__icon t-station"></i>
                                <span>универсал</span>
                            </button>
                        </li>
                        <li class="filter-list__item">
                            <button class="filter-button">
                                <i class="filter-list__icon t-coupe"></i>
                                <span>купе</span>
                            </button>
                        </li>
                        <li class="filter-list__item">
                            <button class="filter-button">
                                <i class="filter-list__icon t-hybrid"></i>
                                <span>гибрид</span>
                            </button>
                        </li>
                        <li class="filter-list__item">
                            <button class="filter-button">
                                <i class="filter-list__icon t-hatchback"></i>
                                <span>хетчбек</span>
                            </button>
                        </li>
                        <li class="filter-list__item">
                            <button class="filter-button">
                                <i class="filter-list__icon t-cargova"></i>
                                <span>фургон</span>
                            </button>
                        </li>
                        <li class="filter-list__item">
                            <button class="filter-button">
                                <i class="filter-list__icon t-cabriolet"></i>
                                <span>кабриолет</span>
                            </button>
                        </li>
                        <li class="filter-list__item">
                            <button class="filter-button">
                                <i class="filter-list__icon t-electromobile"></i>
                                <span>электромобиль</span>
                            </button>
                        </li>
                        <li class="filter-list__item">
                            <a href="#" class="more-products color_main">Еще варианты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pluses">
            <div class="w50">
                <h2 class="h2-title">чем выгодна покупка авто из сша?</h2>
                <div class="text">Основные преимущества – это выгодная цена и чистая история любого автомобиля. Стоимость американских машин на 30-40% ниже стоимости аналогичной б\у машины в Кыргызстане в худшем состоянии и с большим пробегом. Никаких стрессов, финансовых потерь и сомнительных приобретений. Мы подберем для Вас самый выгодный и качественный автомобиль! </div>
                <a href="" class="btn main-btn">Узнать больше</a>
            </div>
            <div class="w50">
                <div class="video"></div>
            </div>
        </div>
    </div>
</section>
<section class="section why-we">
    <div class="container-lg">
        <h2 class="h2-title">Почему нам доверяют?</h2>
        <div class="why-we__list">
            <div class="why-we__item">
                <h3 class="title"><i></i><span>ГАРАНТИИ</span></h3>
                <div class="text">Наличие гарантийного платежа (страховки) позволяет Вам не забоится о рисках: мы гарантируем 100% высококлассную доставку транспорта и абсолютную финансовую безопасность</div>
            </div>
            <div class="why-we__item">
                <h3 class="title"><i></i><span>КАЧЕСТВО</span></h3>
                <div class="text">Опыт и профессионализм наших экспертов позволяет сделать Ваше приобретение очень выгодным, выбирая из огромного ассортимента только проверенные и надежные автомобили</div>
            </div>
            <div class="why-we__item">
                <h3 class="title"><i></i><span>СКОРОСТЬ</span></h3>
                <div class="text">Мы имеем свои складские площадки на территории США, отсутствие консолидации и правильные морские линии гарантируют Вам самые короткие сроки доставки </div>
            </div>
            <div class="why-we__item">
                <h3 class="title"><i></i><span>ОПЫТ</span></h3>
                <div class="text">Почти 15 лет мы работаем на рынке и знаем о машинах и надежной транспортировке все от и до. Цифры говорят за нас: более 81395 авто приобретаются нашими клиентами ежегодно</div>
            </div>
            <div class="why-we__item">
                <h3 class="title"><i></i><span>ЭКОНОМИЯ</span></h3>
                <div class="text">С нами вы экономите около 40% своих денежных средств.
                    Нашу консультацию, карфакс и авточек (история авто) вы можете получить абсолютно бесплатно!
                </div>
            </div>
            <div class="why-we__item">
                <h3 class="title"><i></i><span>СЕРВИС</span></h3>
                <div class="text">Мы будем сопровождать Вас на всех этапах покупки: от мысли о приобретении до результата! К услугам клиента также прилагается он-лайн контроль машин на протяжении всего пути</div>
            </div>
        </div>
    </div>
</section>
<section class="section clients">
    <h2 class="title pink">Наши клиенты</h2>
    <div class="container-lg tabs">
        <div class="search-filter__nav">
            <button class="button active" data-tab="tab-1">Видеоотзывы</button>
            <button class="button" data-tab="tab-2">Отзывы в словах</button>
        </div>
        <div class="content-tab tab-1 active">
            <div class=" videoreviews">
                <div class="videoreviews__list">
                    <div class="videoreviews__item">
                        <div class="video"></div>
                        <div class="name">Иван Иванович</div>
                    </div>
                    <div class="videoreviews__item">
                        <div class="video"></div>
                        <div class="name">Иван Иванович</div>
                    </div>
                    <div class="videoreviews__item">
                        <div class="video"></div>
                        <div class="name">Иван Иванович</div>
                    </div>
                    <div class="videoreviews__item">
                        <div class="video"></div>
                        <div class="name">Иван Иванович</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-tab tab-2">

        </div>
    </div>

</section>
<section class="section process">
    <div class="container">
        <h2 class="title">как происходит процесс<br><span class="color_main">доставки авто из США</span></h2>
        <div class="process-list">
            <div class="process-list__item">
                <h4>1. Вы оставляете заявку</h4>
                <div class="text"><a href="" class="btn main-btn">Оставить заявку</a></div>
            </div>
            <div class="process-list__item">
                <h4>2. Осуществляем подбор автомобиля</h4>
                <div class="text">Вы можете сами выбрать авто на аукционах, используя наши аккаунты, либо можете поручить процесс подбора нам и получать наилучшие варианты и подходящие Вам предложения в оговоренные сроки и удобным для Вас способом
                    (эл.почта,вотсап,телеграм и .т.д.)</div>
            </div>
            <div class="process-list__item">
                <h4>3. Участвуем в торгах</h4>
                <div class="text">Находим качественные и проверенные автомобили и учувствуем в торгах на всех аукционах Америки. Вы можете играть и торговаться самостоятельно.</div>
            </div>
            <div class="process-list__item">
                <h4>4.	Покупаем и оформляем</h4>
                <div class="text">Мы можем победить на аукционе или же приобрести авто благодаря варианту «мгновенной покупки» (By it now). Поэтапно оплачиваем стоимость машины, комиссию аукциона (если такова есть) и доставку по США.</div>
            </div>
            <div class="process-list__item">
                <h4>5. Загружаем и отправляем</h4>
                <div class="text">Грузим в контейнер 3-4 машины и доставляем по морю и суше в Кыргызстан. Техническое оснащение и высокотонные крепежи прочно фиксируют любой транспорт</div>
            </div>
            <div class="process-list__item">
                <h4>6.	Встречаем и разгружаем  </h4>
                <div class="text">Автомобили доставляются в Бишкек, после чего наш сотрудник с пакетом документов вскрывает контейнер, проверяет на наличие повреждений и готовит авто к растаможиванию.</div>
            </div>
            <div class="process-list__item">
                <h4>7.	Растаможиваем</h4>
                <div class="text">Растаможивание и экспертиза авто производится в г. Бишкек</div>
            </div>
            <div class="process-list__item">
                <h4>8.	Сертификация и оформление </h4>
                <div class="text">Автомобиль проходит досмотр на соответствие с ЕАЭС и процедуру оформления</div>
            </div>
            <div class="process-list__item with-image">
                <h4>9.	АвтомобильВашей <br>мечты теперь стал <br>реальностью!</h4>
            </div>
            <div class="progressbar"></div>
            <div class="bottom-car"></div>
        </div>
    </div>
</section>
<section class="section bonus">
    <div class="container">
        <h2 class="title"><span class="color_main">Стань счастливым обладателем</span><br> бонусной карты номиналом в<br><span class="color_main">100$ совершенно бесплатно!</span></h2>
        <form class="bonus-form">
            <input type="text" class="input" placeholder="Имя">
            <input type="text" class="input" placeholder="Телефон">
            <input type="submit" class="input btn main-btn" value="забрать бонус">
        </form>
    </div>
</section>
<section class="section about-us">
    <h2 class="title">ИНФОРМАЦИОННЫЙ БЛОК о нас</h2>
    <div class="container-lg tabs">
        <div class="search-filter__nav">
            <button class="button active" data-tab="tab-1">Наши видео</button>
            <button class="button" data-tab="tab-2">Наши фотографии</button>
        </div>
        <div class="content-tab tab-1 active">
            <div class="videoreviews">
                <div class="videoreviews__list">
                    <div class="videoreviews__item">
                        <div class="video"></div>
                        <div class="name">Какие машины предпочитают в Кыргызстане</div>
                    </div>
                    <div class="videoreviews__item">
                        <div class="video"></div>
                        <div class="name">Как правильно выбрать свой автомобиль</div>
                    </div>
                    <div class="videoreviews__item">
                        <div class="video"></div>
                        <div class="name">Как происходит доставка автомобиля из США</div>
                    </div>
                    <div class="videoreviews__item">
                        <div class="video"></div>
                        <div class="name">Какие машины предпочитают в Кыргызстане</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-tab tab-2">
            <div class="videoreviews">
                <div class="videoreviews__list">
                    <div class="videoreviews__item">
                        <div class="video"></div>
                        <div class="name">Какие машины предпочитают в Кыргызстане</div>
                    </div>
                    <div class="videoreviews__item">
                        <div class="video"></div>
                        <div class="name">Как правильно выбрать свой автомобиль</div>
                    </div>
                    <div class="videoreviews__item">
                        <div class="video"></div>
                        <div class="name">Как происходит доставка автомобиля из США</div>
                    </div>
                    <div class="videoreviews__item">
                        <div class="video"></div>
                        <div class="name">Какие машины предпочитают в Кыргызстане</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section our-news">
    <div class="container">
        <h2 class="title">О чем мы говорим</h2>
        <div class="news-list">
            <div class="left">
                <div class="news-list__item">
                    <a href="">
                        <div class="news-image"><img src={% static "img/news-default-image.jpg" %} alt=""></div>
                        <h4 class="news-title">Представители нашей компании в США</h4>
                        <div class="news-desc">В отличие от украинского вторичного рынка, где каждый пытается самостоятельно, в кустарных условиях подкрасить, подрихтовать и придать товарный вид автомобилю, то есть – подготовить его к продаже, в Америке этим профессионально занимаются страховые компании, которые составляют акты обо всех повреждениях и недостатках автомобиля. Кроме того, вся информация заносится в единую базу. То, что в Украине без проблем ремонтируется на каждом СТО, в Америке подпадает под категорию “non repairable” (не подлежит ремонту).</div>
                    </a>
                </div>
                <div class="news-list__item">
                    <a href="">
                        <div class="news-image"><img src={% static "img/news-default-image-2.jpg" %} alt=""></div>
                        <h4 class="news-title">Доверие это на что мы надеемся</h4>
                        <div class="news-desc">В отличие от украинского вторичного рынка, где каждый пытается самостоятельно, в кустарных условиях подкрасить, подрихтовать и придать товарный вид автомобилю, то есть – подготовить его к продаже, в Америке этим профессионально занимаются страховые компании, которые составляют акты обо всех повреждениях и недостатках автомобиля. Кроме того, вся информация заносится в единую базу. То, что в Украине без проблем ремонтируется на каждом СТО, в Америке подпадает под категорию “non repairable” (не подлежит ремонту).</div>
                    </a>
                </div>
            </div>
            <div class="right ">
                <scrollbar>
                <div class="overflow">
                    <div class="news-list__item">
                        <a href="">
                            <h4 class="news-title">Официальные дистрибюторы</h4>
                            <div class="news-image"><img src={% static "img/news-default-image-4.jpg" %} alt=""></div>
                        </a>
                    </div>
                    <div class="news-list__item">
                        <a href="">
                            <h4 class="news-title">доставка автомобиля из сша</h4>
                            <div class="news-image"><img src="img/news-default-image-3.jpg" alt=""></div>
                        </a>
                    </div>
                    <div class="news-list__item">
                        <a href="">
                            <h4 class="news-title">Официальные дистрибюторы</h4>
                            <div class="news-image"><img src={% static "img/news-default-image-4.jpg" %} alt=""></div>
                        </a>
                    </div>
                    <div class="news-list__item">
                        <a href="">
                            <h4 class="news-title">доставка автомобиля из сша</h4>
                            <div class="news-image"><img src={% static "img/news-default-image-3.jpg" %} alt=""></div>
                        </a>
                    </div>
                    <div class="news-list__item">
                        <a href="">
                            <h4 class="news-title">Официальные дистрибюторы</h4>
                            <div class="news-image"><img src={% static "img/news-default-image-4.jpg" %} alt=""></div>
                        </a>
                    </div>
                </div>
                </scrollbar>
                <a href="#" class="btn main-btn">Больше статей</a>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container-lg">
        <h2 class="title color_main">Наши партнеры</h2>
        <div class="owl-carousel">
            <div class="item"><img src={% static "img/partners/1.png" %} alt=""></div>
            <div class="item"><img src={% static "img/partners/2.png" %} alt=""></div>
            <div class="item"><img src={% static "img/partners/3.png" %} alt=""></div>
            <div class="item"><img src={% static "img/partners/4.png" %} alt=""></div>
            <div class="item"><img src={% static "img/partners/5.png" %} alt=""></div>
            <div class="item"><img src={% static "img/partners/6.png" %} alt=""></div>
            <div class="item"><img src={% static "img/partners/7.png" %} alt=""></div>
            <div class="item"><img src={% static "img/partners/8.png" %} alt=""></div>
            <div class="item"><img src={% static "img/partners/9.png" %} alt=""></div>
            <div class="item"><img src={% static "img/partners/10.png" %} alt=""></div>
        </div>
    </div>
</section>
<section class="section contact-block">
    <div class="container">
        <h2 class="title color_main">давайте начнем работу</h2>
        <p class="text">Выберите цель обращения и сообщите Ваши контакты,<br>
            мы свяжемся с Вами в кратчайшие сроки</p>
        <form class="contact-form">
            <div class="flex">
                <input type="text" class="input" placeholder="Имя" />
                <input type="text" class="input" placeholder="Номер телефона" />
                <select class="select">
                    <option disabled="" selected="">Цель обращения</option>
                    <option value="">Подбор авто под ваш бюджет</option>
                    <option value="">Просчет определенной модели</option>
                    <option value="">Carfax & Autocheсk</option>
                    <option value="">Запись на консультацию в офисе</option>
                    <option value="">Обратный звонок</option>
                    <option value="">Информация по акции</option>
                </select>
            </div>
            <input type="submit" value="Отправить запрос" class="main-btn btn send-btn">
        </form>
    </div>
</section>
<footer class="footer">
    <div class="footer-row">
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
    </div>
    <div class="footer-row">
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
    </div>
    <div class="footer-row">
        <div class="footer-col w50">
            <div class="ftr-logo">
                <div class="logo"><img src={% static "img/ftr-logo.png" %} alt=""></div>
                <div class="text color_main">лидер по экспорту<br>поддержанных автомобилей<br>по всему миру</div>
            </div>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
        <div class="footer-col w25">
            <h5 class="col-title">США</h5>
            <p>Los Angeles</p>
            <p> South main st.</p>
            <p> Gardena CA 90248</p>
            <p> Phone: <a href="">+1 (569) 54-21-326</a></p>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src={% static "libs/jquery/jquery.ui.touch-punch.min.js"%}></script>
<script src={% static "libs/owl-carousel/js/owl.carousel.min.js"%}></script>
<script src={% static "libs/scrollbar/smooth-scrollbar.js"%}></script>
<script src={% static "libs/nice-select/jquery.nice-select.min.js"%}></script>
<script src={% static "js/common.js"%}></script>
<script>
    $("#brand").change(function () {
      var url = $("#search_form").attr("data-models-url");
      var id_brand = $(this).val();

      $.ajax({
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'marka': id_brand       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#model").html(data);  // replace the contents of the city input with the data that came from the server
            $("#model").niceSelect('update')
        }
      });

    });
</script>
</body>
</html>
